___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [6]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [9]:
sal = pd.read_csv('Salaries-1.csv')
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.90,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.00,0.00,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.00,21342.59,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.30,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN
15,16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778.01,73478.20,13957.65,NaN,286213.86,286213.86,2011,NaN,San Francisco,NaN
16,17,AMY HART,DEPARTMENT HEAD V,268604.57,0.00,16115.86,NaN,284720.43,284720.43,2011,NaN,San Francisco,NaN
17,18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.87,119397.26,18625.08,NaN,278569.21,278569.21,2011,NaN,San Francisco,NaN
18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,69626.12,38115.47,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN
19,20,ELLEN MOFFATT,ASSISTANT MEDICAL EXAMINER,257510.59,880.16,16159.50,NaN,274550.25,274550.25,2011,NaN,San Francisco,NaN
20,21,VENUS AZAR,ASSISTANT MEDICAL EXAMINER,257510.48,0.00,16679.79,NaN,274190.27,274190.27,2011,NaN,San Francisco,NaN
21,22,JUDY MELINEK,ASSISTANT MEDICAL EXAMINER,257510.44,377.21,15883.56,NaN,273771.21,273771.21,2011,NaN,San Francisco,NaN
22,23,GEORGE GARCIA,"CAPTAIN, FIRE SUPPRESSION",140546.88,93200.58,39955.25,NaN,273702.71,273702.71,2011,NaN,San Francisco,NaN
23,24,VICTOR WYRSCH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,77896.14,24083.86,NaN,270672.63,270672.63,2011,NaN,San Francisco,NaN
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN
25,26,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.00,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN
26,27,JOHN HANLEY,"CAPTAIN, FIRE SUPPRESSION",92080.80,40008.00,133695.76,NaN,265784.56,265784.56,2011,NaN,San Francisco,NaN
27,28,RAYMOND GUZMAN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.59,80706.88,16063.99,NaN,265463.46,265463.46,2011,NaN,San Francisco,NaN
28,29,DENISE SCHMITT,DEPUTY CHIEF III (POLICE DEPARTMENT),261717.60,0.00,2357.00,NaN,264074.60,264074.60,2011,NaN,San Francisco,NaN
29,30,MONICA FIELDS,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",246225.60,0.00,15140.54,NaN,261366.14,261366.14,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
134149,134150,September M Rose,Hospital Eligiblity Worker,59370.37,0.00,125.00,25126.48,59495.37,84621.85,2014,NaN,San Francisco,NaN
134150,134151,Robert L Bates,Porter,54389.23,3800.07,620.43,25804.68,58809.73,84614.41,2014,NaN,San Francisco,NaN
134151,134152,Shirley D Viernes,Porter,54703.01,2513.10,0.00,27393.41,57216.11,84609.52,2014,NaN,San Francisco,NaN
134152,134153,Matthew D Welch,Parking Control Officer,57246.57,0.00,1265.78,26084.05,58512.35,84596.40,2014,NaN,San Francisco,NaN
134153,134154,Baona Zhou,Custodian,54703.00,3244.43,685.98,25960.03,58633.41,84593.44,2014,NaN,San Francisco,NaN
134154,134155,Roy Castrejon,Stationary Engineer,57849.45,4516.39,5082.24,17137.32,67448.08,84585.40,2014,NaN,San Francisco,NaN
134155,134156,Huynhnga Nguyen,Account Clerk,57531.15,622.97,0.00,26429.35,58154.12,84583.47,2014,NaN,San Francisco,NaN
134156,134157,Patrick E Shea,Librarian 1,59711.19,0.00,1674.70,23196.98,61385.89,84582.87,2014,NaN,San Francisco,NaN
134157,134158,Mario Jimenez,Health Worker 2,56744.24,0.00,1834.53,26000.99,58578.77,84579.76,2014,NaN,San Francisco,NaN
134158,134159,Charles D Kesecker,Transit Fare Inspector,55358.41,997.76,280.41,27941.98,56636.58,84578.56,2014,NaN,San Francisco,NaN
134159,134160,Glenn M Galliguez,Transit Operator,47963.00,3904.91,3299.89,29406.54,55167.80,84574.34,2014,NaN,San Francisco,NaN
134160,134161,Shirnella L Munar,Senior Clerk,54236.91,1955.03,1453.26,26927.41,57645.20,84572.61,2014,NaN,San Francisco,NaN
134161,134162,Oscar Flores,General Laborer,56068.94,1807.35,0.00,26695.67,57876.29,84571.96,2014,NaN,San Francisco,NaN
134162,134163,Thomas E Kent,HSA Sr Eligibility Worker,56155.59,1373.89,256.63,26770.42,57786.11,84556.53,2014,NaN,San Francisco,NaN
134163,134164,Sebastian Torres,Transit Operator,50010.14,3755.38,1372.57,29414.63,55138.09,84552.72,2014,NaN,San Francisco,NaN
134164,134165,Tenzin Legmon,Patient Care Assistant,49949.20,2702.93,3907.47,27990.09,56559.60,84549.69,2014,NaN,San Francisco,NaN
134165,134166,Melyssa C Preza,HSA Sr Eligibility Worker,53604.42,2951.65,0.00,27986.94,56556.07,84543.01,2014,NaN,San Francisco,NaN
134166,134167,Liao Liang Situ,Transit Operator,53178.43,2953.01,669.44,27739.44,56800.88,84540.32,2014,NaN,San Francisco,NaN
134167,134168,Christina Chen,HSA Social Worker,57272.41,0.00,240.00,27024.97,57512.41,84537.38,2014,NaN,San Francisco,NaN
134168,134169,Sandra C Avila,Animal Care Attendant,56251.38,1236.61,830.53,26210.48,58318.52,84529.00,2014,NaN,San Francisco,NaN
134169,134170,Thom A Lo,Aquatics Facility Asst Supv,55649.03,531.53,1902.79,26440.98,58083.35,84524.33,2014,NaN,San Francisco,NaN
134170,134171,Charlene S Weah Weah,Medical Evaluations Assistant,57303.53,0.00,250.00,26965.39,57553.53,84518.92,2014,NaN,San Francisco,NaN
134171,134172,Doris Rendon,Custodian,54703.02,3005.78,811.08,25995.21,58519.88,84515.09,2014,NaN,San Francisco,NaN
134172,134173,Shirley A Hubbard,Transit Operator,46072.58,9508.45,3884.45,25046.68,59465.48,84512.16,2014,NaN,San Francisco,NaN
134173,134174,Blanca L Montoya,Parking Control Officer,57229.26,0.00,1213.68,26060.58,58442.94,84503.52,2014,NaN,San Francisco,NaN
134174,134175,Cui Hua Wu,Custodian,50386.50,1304.49,4499.22,28310.71,56190.21,84500.92,2014,NaN,San Francisco,NaN
134175,134176,Anthony Martin,Porter,54703.00,3213.00,624.00,25954.76,58540.00,84494.76,2014,NaN,San Francisco,NaN
134176,134177,Maurice Valentine,Deputy Sheriff,57616.74,0.00,5558.98,21314.43,63175.72,84490.15,2014,NaN,San Francisco,NaN
134177,134178,Maria L Najjar,Parking Control Officer,57343.78,0.00,1055.43,26090.06,58399.21,84489.27,2014,NaN,San Francisco,NaN
134178,134179,Crystal Cheng,Assistant Storekeeper,43223.80,14226.35,1320.72,25714.87,58770.87,84485.74,2014,NaN,San Francisco,NaN

** Check the head of the DataFrame. **

In [11]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [13]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134179 entries, 0 to 134178
Data columns (total 13 columns):
Id                  134179 non-null int64
EmployeeName        134179 non-null object
JobTitle            134179 non-null object
BasePay             133574 non-null float64
OvertimePay         134179 non-null float64
OtherPay            134179 non-null float64
Benefits            98020 non-null float64
TotalPay            134179 non-null float64
TotalPayBenefits    134179 non-null float64
Year                134179 non-null int64
Notes               0 non-null float64
Agency              134179 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 13.3+ MB

**What is the average BasePay ?**

In [15]:
sal['BasePay'].mean()

71043.41098215223

** What is the highest amount of OvertimePay in the dataset ? **

In [16]:
sal['OverTimePay'].max()

KeyError: 'OverTimePay'

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

2159

** What are the top 5 most common jobs? **

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

423

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!